
/* Categories Item */

.CategoriesItem {
	width: 100%;
}

/* Categories Item icon */

.CategoriesItem-icon {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: 4.5em;
	padding: .75em .5em .75em 1em;
	width: 4.5em;
}

.CategoriesItem-icon span {
	-webkit-align-items: center;
	align-items: center;
	/*background-color: #b71c1c;*/
	border-radius: 50%;
	color: #ffffff;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	font-size: 1.5em;
	font-weight: 500;
	height: 100%;
	-webkit-justify-content: center;
	justify-content: center;
	width: 100%;
}

/* Categories Item select area */

.CategoriesItem-select-area {
	-webkit-align-items: center;
	align-items: center;
	background-color: #fafafa;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	padding: 1em 1em 1em 0;
	width: 100%;
}

.CategoriesItem:nth-child(even) .CategoriesItem-select-area {
	/*background-color: #f5f5f5;*/
}

.CategoriesItem-title {
	color: #424242;
	font-size: 1.125em;
	font-weight: 500;
	margin-left: .5rem;
}